<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>

    <p><b>From: <%=message.from%></b></p>
    <p><b>To: <%=message.to%></b></p>

    <form method="post" action="/chats/<%=message._id%>?_method=PATCH">
        <textarea name="msg"><%=message.msg%></textarea>
        <br>
        <button>Update</button>
    </form>
    
</body>
</html>